body {
    background-image: url("background1.jpg");
    font-family: 'Roboto Mono', monospace;
    font-size: 30px;
 }
 
 h1 {
     font-size:45px;
     color: white;
     text-align: center;
     padding-top: 104px
     }
 
 h2 {
     font-family: 'Permanent Marker', cursive;
     font-size: 30px;
     color: white;
     text-align: center;
     padding-top: 20px;
     padding-bottom: 15px;
   }
 
 h3 {
     padding-left: 1px;
     margin-top: 0px;
     padding-top: 20px;
    }
 
 form {
     font-size: 30px;
     text-align: center;
     font-family: 'Permanent Marker', cursive;
     margin-top: 80px;
     margin-bottom: 200px;
  }
 
 #login {
     border-radius: 100px;
     border: 2px solid white;
     padding: 20px;
     width: 300px;
     height: 350px;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: auto;
       margin-top: auto;
       }

 
 #clickInput {
   background-color: #FDF5E6;
   border: none;
   color: black;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   font-family: 'Roboto Mono', monospace;
 }
 #clickInput:hover {
      background-color: #99ffe6;
      transition: 0.8s;
  }
 
 #image-file {
      padding-left: 65px;
 } 